{% extends "basic.html" %}

{% block title %}Host {{ ansible_host }}{% endblock %}

{% block content %}
<h1>Host {{ ansible_host }}</h1>

<ul class="nav nav-tabs mb-2">
	<li class="nav-item">
		<a class="nav-link active" href="/hosts/{{ ansible_host }}/templates">Templates</a>
 	</li>
	<li class="nav-item">
		<a class="nav-link" href="/hosts/{{ ansible_host }}/jobs">Jobs</a>
	</li>
</ul>

<table id="templates" class="display table table-sm">
	<thead>
		<tr>
			<th scope="col">Job Template ID</th>
			<th scope="col">Job Template Name</th>
			<th scope="col">Tags</th>
			<th scope="col">Last Run</th>
			<th scope="col">Job ID</th>
			<th scope="col">Successful</th>
			<th scope="col">Compliance Interval in Days</th>
			<th scope="col">Compliant</th>
		</tr>
	</thead>
</table>

{% endblock %}

{% block scripts %}
<script nonce="{{crp_nonce}}">
	$(document).ready(function () {
		$.fn.dataTable.luxon("yyyy-MM-dd HH:mm:ss");
		let templates_table = $('#templates').DataTable({
			ajax: {
				url: '/data/hosts/{{ ansible_host }}/templates',
				dataSrc: 'templates_table.data'
			},
			columns: [
				{ 
					title: "Job Template ID",
					data: "tower_job_template_id",
					render: function ( data, type, row, meta ) {
						return '<a href="/templates/' + data + '">' + data + '</a>';	
					}
				},
				{ 
					title: "Job Template Name",
					data: "tower_job_template_name",
				},
				{ 
					title: "Tags",
					data: "awx_tags",
				},
				{ 
					title: "Last Run",
					data: "start_time",
					type: "luxon-yyyy-MM-dd HH:mm:ss.ms",
					render: DataTable.render.datetime('yyyy-MM-dd HH:mm:ss')
				},
				{ 
					title: "Job ID",
					data: "tower_job_id",
					render: function ( data, type, row, meta ) {
						return '<a href="/jobs/' + data + '">' + data + '</a>';	
					}
				},
				{
					title: "Successful",
					data: "successful",
					type: "bool",
					createdCell: function (cell, cellData, rowData, rowIndex, colIndex){ 
						if ( !cellData ) {
							$(cell).addClass("fw-bold");
						}
  					}
				},
				{
					title: "Compliance Interval in Days",
					data: "compliance_interval",
					type: "int",
					createdCell: function (cell, cellData, rowData, rowIndex, colIndex){ 
						if ( cellData > 0) {
							$(cell).addClass("fw-bold");
						}
  					}
				},
				{ 
					title: "Compliant",
					data: "compliant",
					type: "bool",
					createdCell: function (cell, cellData, rowData, rowIndex, colIndex){ 
						if ( !cellData ) {
							$(cell).addClass("fw-bold");
						}
  					}
				},
			],
			createdRow: function (row, data, dataIndex) {
				if (!data.compliant) {
					$(row).addClass("table-danger");
				}
			},
			dom: 'QBfrtip', // Add Q - Query Builder, B - Buttons
			buttons: [ 'copy', 'excel', 'pdf', 'colvis' ],
			order: [[3, "desc"]],
			pageLength: 100
		});
	
		globalThis.refresher.setUpdaterDataTablesXhr(templates_table);
	});
</script>
{% endblock %}
